// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.content {
    text-align: center;
}

.introduction {
    text-align: center;
}

.introduction img {
    margin-top: 50px;
}

.introduction p {
    margin: 50px 0;
}

.introduction .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.introduction .m-b-md {
    margin-bottom: 30px;
}
